body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#wrapper {
	height: 100%;
	overflow-y: auto;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#header { 
	height: 100px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#chat {
	overflow-y: auto;
	padding: 15px 10px 0 10px;
	margin: 0 0 0 0;
	height: 500px;
}

#chat .message {
	background-color: #00ccff;
	padding: 7px;
	float: right;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);

}

#chat .chatdetails {
	float: right;
	color: #BDBDBD;
	font-style: italic;
	font-size: 12px;
}

#footer {
	width: 100%;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 50px;
}
.rj-credits {
	font-size:10px;
	float:right;
	color:#000000;
}
.rj-credits-dev-link:link {text-decoration:none;color:#333;}   /* unvisited link */
.rj-credits-dev-link:visited {text-decoration:none;color:#333;}/* visited link */
.rj-credits-dev-link:hover {text-decoration:none;color:#333;}  /* mouse over link */
.rj-credits-dev-link:active {text-decoration:none;color:#333;} /* selected link */

.testGreen {
	border:solid 1px #0F9;
}

.testBlue {
	border: solid 1px #09F;
}