body { 
  background: url('../img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.R3G-nav {
	background-color:#FFF;
	opacity:.8;
	border-bottom:1px solid #39F;
	border-top:1px solid #39F;
}
#signup{
	background-color:#FFF;
	opacity:1;
}
.R3G-link {
	
}
.R3G-link:link {text-decoration:none;color:#39F;}   /* unvisited link */
.R3G-link:visited {text-decoration:none;color:#39F;}/* visited link */
.R3G-link:hover {text-decoration:none;color:#39F;}  /* mouse over link */
.R3G-link:active {text-decoration:none;color:#39F;} /* selected link */

h8{
	/*font-size:15px;*/
}
h1{
	padding:0;
	margin:0;
	font-size:50px;
	line-height50px;
	color: #000000;
}
h3{
	color: #000000;
}
#macbook{ 
	height:70px;
}
#insidemac{ 
	position:relative;
	top:-150px;
}

#services{
	font-family:hivelogic;
	color:#FFF;
	font-size:30px;
	line-height:30px;
	font-weight:500;
}
#servicesOutter{}
#servicesNav{
	border:0;
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
#wrapper {
	width: 1024px;
}
#formArea {
	float: bottom;
}
.R3G-footer{
	color:#39F;
}
.R3G-container{
	padding-left:12px;  
	
}

#inline{border:0;margin:0;padding:0;line-height:20px;}

.enter:link {text-decoration:none;color:#333;}   /* unvisited link */
.enter:visited {text-decoration:none;color:#333;}/* visited link */
.enter:hover {text-decoration:none;color:#333;}  /* mouse over link */
.enter:active {text-decoration:none;color:#333;} /* selected link */


.rj-credits {
	posiiton:relative;
	font-size:10px;
	color:#000000;
}
.rj-credits-dev-link:link {text-decoration:none;color:#000000;}   /* unvisited link */
.rj-credits-dev-link:visited {text-decoration:none;color:#000000;}/* visited link */
.rj-credits-dev-link:hover {text-decoration:none;color:#000000;}  /* mouse over link */
.rj-credits-dev-link:active {text-decoration:none;color:#000000;} /* selected link */


/*  chat  registra*/

.first{padding-left:7px;}
#R3G-mapnav{
	width:300px;
	border-right:1px solid #09F;
	/*border-left:1px solid #39F;*/
	overflow-y:auto;
	overflow-x:hidden;
	
}
.chatName{color:#09F;padding:0;margin:0}
#chat{overflow-y:auto;overflow-x:hidden;float:right;padding:0;}
.message{padding-right:10px;border:0;margin:0;float:right;}
.chatdetails{padding-right:10px;margin:0px;float:right;}
#groupResponse{padding-left:8px;}
.mapnavlinks:link {text-decoration:none;color:#09F;}   /* unvisited link */
.mapnavlinks:visited {text-decoration:none;color:#09F;}/* visited link */
.mapnavlinks:hover {text-decoration:underline;color:#09F;}  /* mouse over link */
.mapnavlinks:active {text-decoration:none;color:#09F;} /* selected link */
.mapnav1{color:#09F;}
.mapnav2{color:#09F;}
#managementResponse{padding-left:8px}

.joshGreen{border:solid 1px black;}
